@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Karla&display=swap");

$heading_font: "Berkshire Swash", cursive;
$body_font: "Karla", cursive;

$header_color: #fbf3f3;
$background_color: #b60d0f;
$body_color: white;

* {
  margin: 0;
  padding: 0;
}

p {
  font-family: $body_font;
}

input {
  font-family: "Karla", cursive;
}
