@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Karla&display=swap'); 

* { 
    margin:0; 
    padding:0;
}

$heading_font: 'Berkshire Swash', cursive; 
$body_font: 'Karla', cursive;  

$header_color: #FBF3F3;
$background_color: #b60d0f; 
$body_color: white;