@import "_fontsColors.scss"; 



.leftCane { 
    // background-color: red;
    width: 3rem; 
     height:auto;
    min-height:100%;
    float:left;
    background: repeating-linear-gradient(
    -220deg,
    $body_color,
    $body_color 1.3em,
    $background_color 20px,
    $background_color 3rem
    );
} 

.rightCane { 
    background-color: red;
    width: 3rem; 
     height:auto;
     min-height:100%;
    float:right;
     background: repeating-linear-gradient(
    -220deg,
    $body_color,
    $body_color 1.3em,
    $background_color 20px,
    $background_color 3rem
    ); 
    
}

.allPageContainer { 
    width:100vw;  
    background-color: $background_color;
    font-family: $heading_font;
    color: $header_color;
}  

.allPageGrid{  
    height:auto;
    min-height:100vh;
}

