@import "../partials/_fontsColors.scss"; 


.present { 
    width:10rem; 
    height: 10rem;
} 

.tree { 
    height: 32rem
} 

.timer { 
    font-family: $body_font
}  

.center-fix { 
    width:10rem
}
